$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body{
  text-align: center;
  font-family: 'Vollkorn', serif;
  background-color: black;
  margin: auto;
  background-image: url(https://media.giphy.com/media/LEQ1IEMumhwmk/giphy.gif);
  // background-image: url(https://media.giphy.com/media/3oEdvcbU0yVPFRBQAM/giphy-downsized-large.gif);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: white;
}
h2 {
font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 35px;
}
h3 {
font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 25px;
}

p{
  font-size: 20px;
font-family: 'Raleway', sans-serif;
  color: white;
}

h5{
  color: rgb(39, 43, 43);
  font-size: 25px !important;
  font-family: 'Vollkorn', serif !important;
}

#message{
  font-size: 20px;
  font-family: 'Vollkorn', serif;
  color: #1c77b9;
    font-weight: 700;
}
.about-us{
  margin-top: 50px;
     margin-right: 50px;
     position:absolute;
     top:0;
     right:0;
}

#sign-out{
  margin-top: 50px;
  margin-right: 150px;
  position:absolute;
  top:0;
  right:0;
}

#change-password{
  margin-top: 50px;
  margin-right: 150px;
  position:absolute;
  top:0;
  left:10;
  display: none;
}

.password_textbox{
  height: 20px;
  width: 150px;
  text-align: center;
  font-size: 9px;
}

.input-text{
  height: 20px;
  width: 200px;
  text-align: center;
  font-size: 12px;
  font-family: 'Vollkorn', serif;
}

 .textboxclass{
   height: 50px;
   width: 250px;
   text-align: center;
   font-size: 12px;
   color: rgb(39, 43, 43);
  font-family: 'Vollkorn', serif;
 }

 .textboxclass2{
   height: 50px;
   width: 130px;
   text-align: center;
   font-size: 12px;
   color: rgb(39, 43, 43);
  font-family: 'Vollkorn', serif;
 }

 .textboxclass3{
   height: 100px;
   width: 385px;
   text-align: center;
   font-size: 12px;
   color: rgb(39, 43, 43);
  font-family: 'Vollkorn', serif;
 }

#collapseTwo{
  font-size: 12px;
 font-family: 'Vollkorn', serif;
}

.post-list{
  overflow: auto;
  background-color: #484848;
  color: white;
  text-align: center;
  width: 800px;
  overflow-y: auto;
  max-height: 100vh;
   display: inline-block;
}

.page-list{
  overflow: auto;
  background-color: #484848;
color: white;
text-align: center;
width: 800px;
overflow-y: auto;
max-height: 100vh;
 display: inline-block;
}

#accordion{
  display: none;
font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 35px;
  text-align: center;
}
#blogcontent{
 font-family: 'Vollkorn', serif;
    color: black;
    font-size: 20px;
}

.showblogs{
  background-color: #484848;
  color: white;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  padding: 30px;
}

.showpage{
  background-color: #484848;
  color: white;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  padding: 30px;
}

.textbox{
  text-align: center;
}

#footerwrap{
  text-align: center;
  font-size: 12px;
  color: white;
}

li {
  list-style-type: none;
  font-size: 18px;
  text-align: center;
}

.line-row .hr {
		background-color: white;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
  .save-content{
    display: none;
  }
